$header-footer-bg: #3498dd;
$carousel-bg: #1d94d3;
$circle-desctive: #9a9a9a;
$new-bg: #e2523f;
$footer-infor-bg: #2c3e50;

$text-card-clear: #ffffff;
$text-body: #2c3e50;
$text-emphasis: #2e83ba;
$text-most: #e74c3c;
$text-publicity: #c3c5c5;

$separator: #d7d7d7;
