:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #2c3e50;
}

.page {
  max-width: 36.2rem;
  margin: 0 auto;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-pag {
  background: #3498dd;
  padding-left: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-pag .menu {
  position: absolute;
  left: 1.6rem;
  max-width: 3rem;
}

header img {
  max-width: 17.5rem;
}

main {
  max-width: 34rem;
  margin: 0 auto;
  padding-top: 3.8rem;
}

.carousel h1 {
  font-size: 1.6rem;
}
.carousel .circles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0 4rem 0;
}
.carousel .circles div:nth-child(1) {
  background: #1d94d3;
}
.carousel .circles div {
  background: #9a9a9a;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.3rem;
}

.carousel-card {
  position: relative;
}
.carousel-card img {
  height: 20.4rem;
}
.carousel-card span {
  position: absolute;
  left: 0;
  bottom: 1.4rem;
  padding: 0.6rem 4.4rem 0.6rem 1.4rem;
  background: #1d94d3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.9rem;
  z-index: 1;
}

.highlights {
  display: grid;
  gap: 1.8rem;
}

.highlights-card {
  position: relative;
}
.highlights-card h2 {
  position: absolute;
  left: 0;
  bottom: 1.6rem;
  color: #ffffff;
  font-size: 0.9rem;
  background: #e2523f;
  padding: 0.6rem 3rem 0.6rem 1.6rem;
  z-index: 1;
}

.new {
  margin-top: 5rem;
  display: grid;
  gap: 2rem;
}
.new h3 {
  padding-bottom: 1rem;
}

.new-card {
  border-bottom: 0.1rem solid #d7d7d7;
}
.new-card span {
  text-transform: uppercase;
  color: #2e83ba;
  line-height: 3.5rem;
}

.summon {
  margin-top: 3rem;
  display: grid;
  gap: 1.6rem;
}
.summon h2 {
  color: #2e83ba;
}

.summon-card {
  border-bottom: 0.2rem solid #d7d7d7;
  padding-bottom: 1rrem;
}
.summon-card h3 {
  font-size: 1rem;
}
.summon-card:last-child {
  border: none;
}

.most {
  margin-top: 2.8rem;
}
.most h2 {
  color: #e74c3c;
  padding-bottom: 1.6rem;
}

.most-card {
  display: grid;
  row-gap: 10rem;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
  grid-template-areas: "A A B" "A A C";
}
.most-card img {
  max-width: 15.9rem;
  grid-area: A;
}
.most-card h3 {
  grid-area: B;
  padding-bottom: 1rem;
  color: #e74c3c;
}
.most-card p {
  grid-area: C;
}

.publicity {
  position: relative;
}
.publicity span {
  position: absolute;
  top: 0;
  right: 0;
  color: #c3c5c5;
}
.publicity img {
  padding-top: 2rem;
}

footer {
  background: #3498dd;
  color: #ffffff;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer .top {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1.6rem;
}
footer .top img {
  width: 1.5rem;
}
footer .copy {
  padding: 1.6rem;
  background: #2c3e50;
}

.medium {
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 700px) {
  .page {
    max-width: 80rem;
    margin: 0 auto;
  }
  main {
    max-width: 71.2rem;
  }
  .carousel {
    position: relative;
  }
  .carousel h1 {
    position: absolute;
    left: 0;
    bottom: 10rem;
    color: #ffffff;
    padding-left: 1.6rem;
  }
  .carousel .carousel-card img {
    height: 43.2rem;
  }
  .carousel .carousel-card span {
    bottom: 6rem;
    margin-left: 1.6rem;
  }
  .highlights {
    grid-template-areas: "A B C";
  }
  .highlights .highlights-card:nth-child(1) {
    grid-area: A;
  }
  .highlights .highlights-card:nth-child(2) {
    grid-area: B;
  }
  .highlights .highlights-card:nth-child(3) {
    grid-area: C;
  }
  .new .wrapper {
    display: grid;
    gap: 2rem;
    grid-template-areas: "A B" "C D";
  }
  .new .wrapper img {
    max-width: 34rem;
    max-height: 18.9rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .new .wrapper .new-card:nth-child(1) {
    grid-area: A;
  }
  .new .wrapper .new-card:nth-child(2) {
    grid-area: B;
  }
  .new .wrapper .new-card:nth-child(3) {
    grid-area: C;
  }
  .new .wrapper .new-card:nth-child(4) {
    grid-area: D;
  }
  .side-news {
    display: grid;
    gap: 2rem;
    grid-template-areas: "A B" "C D";
  }
  .side-news .publicity {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .side-news .publicity span {
    top: 5rem;
  }
  .medium {
    display: inline;
    color: #ffffff;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .redirect {
    display: flex;
  }
  header .redirect .redirect-card {
    background-color: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
  }
  header .redirect .redirect-card img {
    max-width: 25px;
    max-height: 25px;
  }
  footer .copy {
    display: flex;
    gap: 5.1rem;
    padding: 3rem;
  }
  footer .copy img {
    max-width: 12rem;
  }
}
@media (min-width: 1050px) {
  .ads-mobile {
    display: none;
  }
  .desktop {
    display: inline-block;
  }
  .page {
    max-width: 100rem;
  }
  main {
    max-width: 100rem;
  }
  .carousel .carousel-card .carousel-img {
    position: relative;
  }
  .carousel .carousel-card .carousel-img .left {
    width: 5rem;
    height: 5rem;
    background: #9a9a9a;
    position: absolute;
    border-radius: 50%;
    left: -2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .carousel .carousel-card .carousel-img .left img {
    position: absolute;
    max-width: 3rem;
    max-height: 3rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .carousel .carousel-card .carousel-img .right {
    width: 5rem;
    height: 5rem;
    background: #9a9a9a;
    position: absolute;
    border-radius: 50%;
    right: -2rem;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .carousel .carousel-card .carousel-img .right img {
    position: absolute;
    max-width: 3rem;
    max-height: 3rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .new {
    grid-template-areas: "A B E" "C D E";
  }
  .new img {
    width: 34rem;
    height: 18.9rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .new .new-card:nth-child(1) {
    grid-area: A;
  }
  .new .new-card:nth-child(2) {
    grid-area: B;
  }
  .new .new-card:nth-child(3) {
    grid-area: D;
  }
  .new .new-card:nth-child(4) {
    grid-area: C;
  }
  .new .publicity {
    grid-area: E;
  }
  .new .publicity .publicity-img {
    height: 50rem;
  }
  .new .publicity span {
    right: 5rem;
  }
  .side-news {
    grid-template-areas: "A B C";
  }
}/*# sourceMappingURL=style.css.map */